html,body{
    height: 100%;
}
.root{
    background: #eee;
    height: 100%;
}

.help_header{
    width:100%;
}
.help_header span{   
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    color:#2d2d2d;
    padding:0.25rem 0;
}
.help_header i{
    position: absolute;
    left:0.2rem;
    font-size: 0.35rem;
}
.help_header i a{
    display: block;
    width:100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
}
.content_wrap{
    background: #fff;
    padding:0 0.3rem 0.9rem 0.3rem;
}
.content_wrap .title{
    font-weight: bold;
    font-size: 0.33rem;
    color: #333;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.45rem 0 0.15rem 0;

    position: relative;
}

.content_txt span{
    display: block;
    text-indent: 0.4rem;
    color:#606060;
    font-size:0.22rem;
    line-height: 0.48rem;
    text-align: left;
}
.content_txt p+p{
    margin-top:0.2rem;
}

.help_header{
    background: #fff;
    border-bottom:1px solid #d2d2d2;
}
.content_wrap .title{
    font-size: 0.3rem;
    color:#5e5e5e;
    font-weight: normal;
}
.text_info{

}
.text_info div{
    display: inline-block;
    font-size:0.22rem;
    color:#a5a5a5;
    margin-right:0.2rem;
}
.text_info .time{
    
}
.text_info .view{
    position: relative;
    padding-left:0.32rem;
}
.text_info .view::before{
    content: " ";
    display: block;
    position: absolute;
    left:0;
    width:0.26rem;
    height: 0.18rem;
    background: url("../img/eye.png") center no-repeat;
    background-size:100% auto;
    top: 50%;
    margin-top: -0.09rem;
}
.content_txt img{
    max-width: 100%;
    height: auto;
    width:100%;
}
.content_wrap{
    padding:0.2rem;
}
.content_wrap li{
    display:flex;
    justify-content: space-between;
    height: 1.2rem;
}
.content_wrap .news_t{
    font-size:0.26rem;
    color:#5e5e5e;
}
.news_img img{
    width:100%;
    height: auto;
    display: block;
}
.news_img{
    overflow: hidden;
    width:1.72rem;
    margin-left:0.2rem;
}
.news_wrap{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_wrap li+li{
    margin-top:0.45rem;
}
.root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.show_more{
    font-size: 0.22rem;
    color:#d5d5d5;
    width:100%;
    text-align: center;
    padding:0.6rem 0 0.1rem 0;
}